<!DOCTYPE html>
<html dir="ltr">
<head>

    <script>
        var themeHasJQuery = !!window.jQuery;
    </script>
    <script type="text/javascript" src="./newnextgen/assets/js/jquery.js?1.0.634"></script>
    <script>
        window._$ = jQuery.noConflict(themeHasJQuery);
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./newnextgen/assets/css/bootstrap.css?1.0.634" media="screen" />
    <script type="text/javascript" src="./newnextgen/assets/js/bootstrap.min.js?1.0.634"></script>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="./newnextgen/assets/css/layout.ie.css?1.0.634">
    <script src="./newnextgen/assets/js/layout.ie.js?1.0.634"></script>
    <![endif]-->
    <link class="" href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=latin' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src=".newnextgen/assets/js/layout.core.js"></script>
    <script src="./newnextgen/assets/js/CloudZoom.js?1.0.634"></script>

    <title>Home Page</title>
    <link rel="stylesheet" href="./newnextgen/assets/css/style.css?1.0.634">
    <script src="./newnextgen/assets/js/script.js?1.0.634"></script>
    <meta charset="utf-8">



    <meta name="keywords" content="HTML, CSS, JavaScript">


    <style>a {
            transition: color 250ms linear;
        }
    </style>
    {{ attach_library('nextnextgen/global') }}
</head>
<body class="bd-body-1  bootstrap bd-pagebackground">
{{ page_top }}
{{ page }}
{{ page_bottom }}
</body>
</html>